<main>
  <div [class]="authenticatedRoutes() ? 'main-content' : ''">
    <div class="d-flex justify-content-center align-items-center h-100-vh"
      *ngIf="(authenticatedUser$ | async)?.authLoading; else loaded">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #loaded>
      <div>
        <app-navbar></app-navbar>
        <app-sidebar></app-sidebar>
      </div>
      <router-outlet></router-outlet>
    </ng-template>
    <!-- Render routed components here -->
  </div>
</main>
<footer>
  <app-footer></app-footer>
</footer>