@import "../styles.scss";

svg {
  transform: rotate(180deg);
}

.h-100-vh {
  height: 100vh;
}

.main-content {
  margin: 0 auto;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    padding: 15px
  }

  background-color: $background;
}