
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tech-temple-primary: mat.define-palette(mat.$indigo-palette);
$tech-temple-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tech-temple-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tech-temple-theme: mat.define-light-theme((
  color: (
    primary: $tech-temple-primary,
    accent: $tech-temple-accent,
    warn: $tech-temple-warn,
                ),
                density: -3
));
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tech-temple-theme);

@import "~bootstrap/dist/css/bootstrap.css";
$principal: #5356FF;
$auxiliary: #378CE7;
$accent: #67C6E3;
$highlight: #DFF5FF;
$text-color: #495057;
@font-face {
  font-family: 'MarkPro';
  src: url('../src/assets/fonts/markprofont.otf') format('woff2');
  /* Add more src URLs for different font file formats if necessary */
  font-weight: normal;
  font-style: normal;
}

.bg-principal {
  background-color: $principal !important;
}

.bg-auxiliary {
  background-color: $auxiliary;
}

.bg-accent {
  background-color: $accent;
}

.bg-highlight {
  background-color: $highlight;
}

.text-principal {
  color: $principal;
}

.text-auxiliary {
  color: $auxiliary;
}

.text-accent {
  color: $accent;
}

.text-highlight {
  color: $highlight;
}

.text-generic {
  color: $text-color
}
.border-principal {
  border-color: $principal;
}

.border-auxiliary {
  border-color: $auxiliary;
}

.border-accent {
  border-color: $accent;
}

.border-highlight {
  border-color: $highlight;
}

.fs-sm {
  font-size: 0.95rem;
}

.p-7 {
  padding: 5rem;
}
html,
body {
  height: 100%;
  font-family: 'MarkPro', sans-serif;
}